@import url('../../assets/css/global.css');
:root{
  --fontSize: 14px;
}

body{
  font-size: var(--fontSize);
  background: url('../../assets/images/bg.jpg') no-repeat 50% 50%/100% 100% fixed;
}
.courses-wrap .list{
  display: flex;
  flex-flow: row nowrap;
}

.courses-wrap .list-item{
  width: 210px;
}